.planScreen{
    color:white;
}

.planScreen-plan{
    display:flex;
    justify-content:space-between;
    padding: 20px;
    opacity: 0.8;
}

.planScreen-plan:hover{
    opacity:1;
}


.current-package-button{
    padding:10px 10px;
    font-size: 0.9rem;
    background-color: gray;
    color:#fff;
}

.subscribe-button{
    padding:10px 20px;
    font-size: 1rem;
    background-color: #e50914;
}

.planScreen-plan>button{
    /* padding:10px 20px; */
    /* font-size: 1rem; */
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
